{% extends "store/base.html" %}
{% load bootstrap4 %}
{% load static %}


{% block page_header %}
  <h1> Корзина ваших товаров</h1>

{% endblock page_header %}


{% block content %}
   <div class="table-responsive">
     <table class="table" id="cart">
      <thead>
        <tr>
            <th>Фото</th>
            <th>Продукт</th>
            <th>Количество</th>
            <th>Удалить</th>
            <th>Цена за единицу</th>
            <th>Цена</th>
        </tr>
      </thead>
      <tbody>

  {% for item in cart %}
        {% with product=item.product %}
        <tr class='success'>
          <td>
            <a href="{{ product.get_absolute_url }}">
              <img class="col-8 img-fluid rounded mx-auto d-block" src="{% if product.image %}{{ product.image.url }}
              {% else %}{% static 'img/no_image.png' %}{% endif %}">
            </a>
         </td>
        <td>{{ product.name }}</td>
        <td>
          <form action="{% url 'cart:cart_add' product.id %}" method="post">
          {{ item.update_quantity_form.quantity }}
          {{ item.update_quantity_form.update }}
          <input type="submit" value="Обновить">
          {% csrf_token %}
          </form>
        </td>
        <td><a href="{% url 'cart:cart_remove' product.id %}">Удалить</a></td>
        <td class="num">${{ item.price }}</td>
        <td class="num">${{ item.total_price }}</td>
       </tr>
    {% endwith %}
  {% endfor %}
    <tr class="total">
           <td>Всего</td>
           <td colspan="4"></td>
           <td class="num">${{ cart.get_total_price }}</td>
    </tr>
    </tbody>
  </table>
  </div>
  <p class="text-right">
    <a href="{% url 'store:categories' %}" class="btn btn-primary">Продолжить покупки</a>
    <a href="{% url 'orders:order_create' %}" class="btn btn-primary">Оплатить</a>
    </p>
{% endblock content %}
